#root {
  margin: 0 auto;
}

/* For Firefox */
.custom-scrollbar-example::-moz-scrollbar {
  width: 0px;
  height: 0px;
}

/* General styling */
.custom-scrollbar-example::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* width */
.event-overview::-webkit-scrollbar {
  width: 5px;
}